<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<div id="box">
			<div v-text="变量"></div>
			<div v-html="变量"></div>
			<div v-show="ture/false"></div>
			<div v-if="条件"></div>
			<div v-else-if="条件"></div>
			<div v-else></div>
			str <div v-for="(i,$index) in str"></div>
			arr <div v-for="(i,$index) in arr"></div>
			json <div v-for="(i,$key,$index) in json"></div>
			v-on 事件绑定
			@
			<div @事件=“事件函数（$event）”></div>
			v-bind
			<div :class=""></div>
			<div v-pre></div>
			<div v-cloak></div>
			<div v-once></div>
			v-model
			input
			文本 ''
			单选 ''
			多选 【】
			下拉 ""
			
			<div v-text=""></div>
			<div v-html="变量名"></div>
			<div v-for="i in 变量名字"></div>
			<div v-cloak>css写display:none</div>
			<div v-if="写条件"></div>
			<div v-else="写条件"></div>
			<div v-else-if="写条件"></div>
			<div v-bind:>属性绑定</div>
			<input v-model="" type="" name="" id="" value="" />
			<div v-pre></div>
			<div v-on:>@绑定</div>
			<div v-once>执行一次</div>
			<div v-show=""></div>
			
			
			<div v-text=""></div>
			<div v-html="变量名"></div>
			<div v-for="i in 变量名字"></div>
			<div v-cloak>css写display:none</div>
			<div v-if="写条件"></div>
			<div v-else="写条件"></div>
			<div v-else-if="写条件"></div>
			<div v-bind:>属性绑定</div>
			<input v-model="" type="" name="" id="" value="" />
			<div v-pre></div>
			<div v-on:>@绑定</div>
			<div v-once>执行一次</div>
			<div v-show=""></div>
			
			
			<div v-text=""></div>
			<div v-html="变量名"></div>
			<div v-for="i in 变量名字"></div>
			<div v-cloak>css写display:none</div>
			<div v-if="写条件"></div>
			<div v-else="写条件"></div>
			<div v-else-if="写条件"></div>
			<div v-bind:>属性绑定</div>
			<input v-model="" type="" name="" id="" value="" />
			<div v-pre></div>
			<div v-on:>@绑定</div>
			<div v-once>执行一次</div>
			<div v-show=""></div>
			
		</div>
	</body>
	<script src="vue.js"></script>
	<script>
		new Vue({
			el: '#box',
			data: {

			}
		})
	</script>
</html>
