<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<style type="text/css">
			* {
				margin: 0;
				padding: 0;
			}

			#daohang {
				width: 75%;
				height: 80px;
			}

			#daohang ul li {
				float: left;
				width: 14%;
				color: #FFFFFF;
				text-align: center;
			}

			#daohang ul li:hover {
				color: blue;
			}
		</style>
	</head>
	<body style="background: #071248;">
		<div id="box">
			<div style="min-height: 80px;background: #071248;">
				<div style="width: 80%;height: 80px;margin: 0 auto;">
					<div style="width: 25%;height: 80px;float: left;">
						<img src="https://ccdn.goodq.top/caches/76b523e47b518e3280b3a453638be094/aHR0cHM6Ly81ZDM5NjllNDU0MTBjLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDcvNmMwMWZiNzVjMmNlMjZlZGU4YmEwNWNlNzBhMzA1N2YucG5n.png"
						 style="width: 170px;height: auto;margin: 18px 40px;">
					</div>
					<div id='daohang' style="float: left;">
						<ul style="list-style: none;width: 70%;height: 80px;line-height: 80px;font-size: 14px;float: right;margin-right: 100px;color: red;">
							<li><a href="#c1">首页</a></li>
							<li><a href="#c2">使用流程</a></li>
							<li><a href="#c3">全球服务</a></li>
							<li><a href="#c4">关于我们</a></li>
							<li><a href="#c5">专家团队</a></li>
							<li><a href="#c6">联系我们</a></li>
							<li><a href="#c7">合作伙伴</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div style="min-height: 500px;width: 75%;margin: 40px auto;">
				<div style="width: 100%;height: 400px;">
					<a name='c1'></a>
					<div style="width: 40%;height: 400px;float: left;">
						<p style="font-size: 38px;color: #FFFFFF; line-height: 50px;padding-top: 30px;padding-bottom: 30px;">践行惠普金融<br>助力<span
							 style="color: #0000FF;">美好生活</span></p>
						<p style="font-size: 14px;color: #FFFFFF; line-height: 24px;">我们的网站构建器，将传统的编码工作转化为直观的拖拽操作和文字录入。在这里，您仅需花上10分钟便可以完成一个H5响应式网站，您会发现完全不需要编写一行代码，这就是起飞页自助建站的神奇之处</p>
						<div style="line-height: 50px;text-indent: 2em; width: 150px;height: 50px;border: 1px solid #0000FF;float: left;border-radius: 75px;font-size: 18px;margin-top: 30px;color: #FFFFFF;">联系我们</div>
						<div style="line-height: 50px;text-indent: 2em; width: 150px;height: 50px;border: 1px solid #0000FF; float: left;border-radius: 75px;font-size: 18px;margin-top: 30px;margin-left: 30px;color: #FFFFFF;">点我咨询</div>
					</div>
					<div style="width: 60%;float: right;">
						<img src="https://ccdn.goodq.top/caches/76b523e47b518e3280b3a453638be094/aHR0cHM6Ly81ZDM5NjllNDU0MTBjLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDcvM2Q1MjJlZDZlYTZiM2I2YWEwYmVjNGM3YTBkMjcxNzIucG5n.png"
						 style="width: 400px;height: auto;float: right;" />
					</div>
				</div>
				<div style="width: 100%;height: 120px;margin-top: 200px;">
					<a name='c2'></a>
					<div style="width: 70%;margin: 0 auto;">
						<title1 x_title="我们的网站构建器，将传统的编码工作转化为直观的拖拽操作和文字录入。在这里，您仅需花上10分钟便可以完成一个H5响应式网站。" x_content="使用流程">


						</title1>
					</div>
					<!-- <title1 x_content="123" x_title="456">
						
						
					</title1> -->
				</div>
				<div style="width: 100%;height: 200px;margin-top: 30px;">
					<div style="width: 32%;height: 200px;background: royalblue;float: left;border-radius: 15px;">
						<img style="margin-left: 38%;padding-top: 50px;" src="https://ccdn.goodq.top/caches/76b523e47b518e3280b3a453638be094/aHR0cHM6Ly81ZDM5NjllNDU0MTBjLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDcvMjRkOWZhNDMyOGRiNTYxMGU0MDg5MmZiYWY0MWEzZTUucG5n.png">

						<arr t_itle="创建用户"></arr>
					</div>
					<div style="width: 32%;height: 200px;background: royalblue;float: left;margin: 0 2%;border-radius: 15px;">
						<img style="margin-left: 38%;padding-top: 50px;" src="https://ccdn.goodq.top/caches/76b523e47b518e3280b3a453638be094/aHR0cHM6Ly81ZDM5NjllNDU0MTBjLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDcvOWNlZjc3MThhM2UzYjUwZWMwNmFlMzY2MTM2YzI2MTYucG5n.png">
						<arr t_itle="安全保障"></arr>
					</div>
					<div style="width: 32%;height: 200px;background: royalblue;float: left;border-radius: 15px;">
						<img style="margin-left: 38%;padding-top: 50px;" src="https://ccdn.goodq.top/caches/76b523e47b518e3280b3a453638be094/aHR0cHM6Ly81ZDM5NjllNDU0MTBjLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDcvNDg1Zjk2YWE4MmFhMzdhODgzYWM3MWVjMDgxMDA5YWQucG5n.png">
						<arr t_itle="绑定付款"></arr>
					</div>
				</div>








				<div style="width: 100%;height: 400px;margin-top: 120px;">
					<shijian></shijian>
				</div>






				<div style="width: 100%;height: 120px;margin-top: 150px;">
					<a name='c3'></a>
					<div style="width: 70%;margin: 0 auto;">
						<title1 x_title="我们的网站构建器，将 传统的编码工作转化为直观的拖拽操作和文字录入。在这里，您仅需花上10分钟便可以完成一个H5响应式网站。" x_content="全球服务">
						</title1>
					</div>
				</div>
				<div style="width: 100%;min-height: 210px;">
					<img src="https://ccdn.goodq.top/caches/76b523e47b518e3280b3a453638be094/aHR0cHM6Ly81ZDM5NjllNDU0MTBjLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDcvMjE4N2VmMjZiNjA3YmZmZTA0NTM4MjEzYjQ2MTJkYmMuanBn.jpg"
					 style="width: 100%;height: auto;">
				</div>
				<div style="width: 100%;height: 120px;margin-top: 150px;">
					<div style="width: 70%;margin: 0 auto;">
						<title1 x_title="当前货币汇率我们的网站构建器，将传统的编码工作转化为直观的拖拽操作和文字录入。在这里，您仅需花上10分钟便可以完成一个H5响应式网站。" x_content="当前货币汇率">
						</title1>
					</div>
				</div>


				<div style="height: 100px;width: 100%;background: royalblue;border-radius: 10px;margin-top: 20px;">
					<div style="width: 25%;height: 100px;float: left;">
						<huilv></huilv>
					</div>
					<div style="width: 25%;height: 100px;float: left;">
						<huilv2></huilv2>
					</div>
					<div style="width: 25%;height: 100px;float: left;">
						<huilv3></huilv3>
					</div>
					<div style="width: 25%;height: 100px;float: left;">
						<huilv4></huilv4>
					</div>

				</div>

				<div>
					<meiyuan></meiyuan>
				</div>


			</div>
			<!-- <div style="min-height: 150px;background: #999;"></div> -->
		</div>

		<!-- <template id="meiyuan">
			<div>
				<div style="width: 100%;height: 300px;background: #0000FF;"></div>
			</div>
		</template> -->




		<template id="shijian">
			<div>
				<div style="width: 50%;height: 350px;background: dodgerblue; padding-top: 50px;float: left;color: #FFFFFF;">
					<p style="font-size: 34px;text-align: center;line-height: 40px;">近期货币</p>
					<p style="font-size: 16px;text-align: center;line-height: 20px;">购买进度</p>
					<p style="font-size: 24px;text-align: center;line-height: 30px;">——————</p>
					<div id="time" style="color: #FFFFFF;font-size: 36px;text-align: center;"> </div>
					<div style="padding-top: 4px;padding-left: 5px; width: 80%;height: 30px;background: #FFFFFF;border-radius: 10px;margin: 30px auto;">
						<div style="width: 80%;height: 24px;background: blue;border-radius:10px;">
							<p style="font-size: 16px;color: #FFFFFF;line-height: 24px;text-indent: 50px;">购买进度 80%</p>
						</div>
					</div>
					<div style="line-height: 50px;text-indent: 2em; width: 150px;height: 50px;border: 1px solid #0000FF; float: left;border-radius: 75px;font-size: 18px;margin-top: 30px;margin-left: 180px;color: #FFFFFF;">点我咨询</div>
				</div>
				<div style="width: 50%;height: 350px;float: left; padding-top: 50px;color: #FFFFFF;">
					<p style="text-indent:30px;font-size: 36px;line-height: 46px;">最值得信赖的平台</p>
					<p style="font-size: 14px;margin-left: 30px;line-height: 30px;margin-top: 30px;">
						移动互联网的稳定快速发展带动了货币行业的迅速崛起，在如此庞大的货币海洋中，哪些是您所需要的货币呢？</p>
					<p style="margin-top: 30px;margin-left: 30px;"><span style="color: blue;">√</span>　享受专属优惠券<br>
						<span style="color: blue;">√</span>　用于商城消费 先用后付<br>
						<span style="color: blue;">√</span>　随心付，3/6/9/12期随心付</p>
					<img src="https://ccdn.goodq.top/caches/76b523e47b518e3280b3a453638be094/aHR0cHM6Ly81ZDM5NjllNDU0MTBjLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDcvM2UwNjU1NTQ1Y2Q2OGJiMjRmZTllYzNhNmIzMzc4ZTEucG5n.png"
					 style="width: 70px;height: 70px;margin-left: 30px;margin-top: 30px;">
				</div>
			</div>
		</template>





		<template id="title1">
			<div>
				<div style="text-align: center;color: #FFFFFF;">
					<div style="font-size: 36px;line-height: 50px;">{{content}}</div>
					<h3 style="font-size: 14px;line-height: 30px;">{{title}}</h3>
				</div>
			</div>
		</template>
		<template id="arr">
			<div>
				<div>

					<h3 style="text-align: center;">{{content}}</h3>
				</div>
			</div>
		</template>
		<template id="arr">
			<div>
				<div>

					<h3 style="text-align: center;">{{content}}</h3>
				</div>
			</div>
		</template>
		<template id="arr">
			<div>
				<div>
					<h3 style="text-align: center;">{{content}}</h3>
				</div>
			</div>
		</template>
		<template id="title1">
			<div>
				<div style="text-align: center;color: #FFFFFF;">
					<div style="font-size: 36px;line-height: 50px;">{{content}}</div>
					<h3 style="font-size: 14px;line-height: 30px;">{{title}}</h3>
				</div>
			</div>
		</template>
		<template id="title1">
			<div>
				<div style="text-align: center;color: #FFFFFF;">
					<div style="font-size: 36px;line-height: 50px;">{{content}}</div>
					<h3 style="font-size: 14px;line-height: 30px;">{{title}}</h3>
				</div>
			</div>
		</template>
		<template id="huilv">
			<div>
				<div v-for="i in hui_lv" style="padding-top: 20px;">
					<h4 style="font-size: 16px;text-indent: 30px;line-height: 30px; color: #FFFFFF;">{{i.kaishi}}</h4>
					<p style="font-size: 12px;text-indent: 30px;color: #FFFFFF;">{{i.kai_shi}}</p>
				</div>
				<!-- <div v-for="i in hui_lv" style="padding-top: 20px;">
					<h4 style="font-size: 16px;text-indent: 30px;line-height: 30px; color: #FFFFFF;">{{i.jieshu}}</h4>
					<p style="font-size: 12px;text-indent: 30px;color: #FFFFFF;">{{i.jie_shu}}</p>
				</div>
				<div v-for="i in hui_lv" style="padding-top: 20px;">
					<h4 style="font-size: 16px;text-indent: 30px;line-height: 30px; color: #FFFFFF;">{{i.jiaoyi}}</h4>
					<p style="font-size: 12px;text-indent: 30px;color: #FFFFFF;">{{i.jiao_yi}}</p>
				</div> -->
			</div>
		</template>
		<template id="huilv2">
			<div>
				<div v-for="i in hui_lv" style="padding-top: 20px;">
					<h4 style="font-size: 16px;text-indent: 30px;line-height: 30px; color: #FFFFFF;">{{i.jieshu}}</h4>
					<p style="font-size: 12px;text-indent: 30px;color: #FFFFFF;">{{i.jie_shu}}</p>
				</div>
			</div>
		</template>
		<template id="huilv3">
			<div>
				<div v-for="i in hui_lv" style="padding-top: 20px;">
					<h4 style="font-size: 16px;text-indent: 30px;line-height: 30px; color: #FFFFFF;">{{i.jiaoyi}}</h4>
					<p style="font-size: 12px;text-indent: 30px;color: #FFFFFF;">{{i.jiao_yi}}</p>
				</div>
			</div>
		</template>
		<template id="huilv4">
			<div>
				<div v-for="i in hui_lv" style="padding-top: 20px;">
					<h4 style="font-size: 16px;text-indent: 30px;line-height: 30px; color: #FFFFFF;">{{i.shoufang}}</h4>
					<p style="font-size: 12px;text-indent: 30px;color: #FFFFFF;">{{i.shou_fang}}</p>
				</div>
			</div>
		</template>

	</body>
	<script src="vue.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		Vue.component('meiyuan', {
			template: '#meiyuan',
			data() {
				return{
					
				}
			}
		})


		Vue.component('shijian', {
			template: '#shijian',
			data() {
				return {

				}
			}
		})





		Vue.component('title1', {
			template: "#title1",
			props: ['x_content', 'x_title'],
			data() {
				return {
					content: this.x_content,
					title: this.x_title
				}
			}
		})
		Vue.component('arr', {
			template: '#arr',
			props: ['t_itle'],
			data() {
				return {
					content: this.t_itle
				}
			}
		})
		Vue.component('title1', {
			template: "#title1",
			props: ['x_content', 'x_title'],
			data() {
				return {
					content: this.x_content,
					title: this.x_title
				}
			}
		})
		Vue.component('huilv', {
			template: "#huilv",
			// props: ['x_content', 'x_title'],
			data() {
				return {
					// content: this.x_content,
					// title: this.x_title
					hui_lv: [{
							kaishi: '开始时间',
							kai_shi: 'April 25, 2019 (10:00PM )'
						},
						// {jieshu:'结束时间',jie_shu:'April 25, 2019 (10:00PM )'},
						// {jiaoyi:'交易货币',jiao_yi:'April 25, 2019 (10:00PM )'},
						// {shoufang:'售房数量',shou_fang:'April 25, 2019 (10:00PM )'}

					]
				}
			}
		})
		Vue.component('huilv2', {
			template: "#huilv2",
			// props: ['x_content', 'x_title'],
			data() {
				return {
					// content: this.x_content,
					// title: this.x_title
					hui_lv: [
						// {kaishi:'开始时间',kai_shi:'April 25, 2019 (10:00PM )'},
						{
							jieshu: '结束时间',
							jie_shu: 'April 25, 2019 (10:00PM )'
						},
						// {jiaoyi:'交易货币',jiao_yi:'April 25, 2019 (10:00PM )'},
						// {shoufang:'售房数量',shou_fang:'April 25, 2019 (10:00PM )'}

					]
				}
			}
		})
		Vue.component('huilv3', {
			template: "#huilv3",
			// props: ['x_content', 'x_title'],
			data() {
				return {
					// content: this.x_content,
					// title: this.x_title
					hui_lv: [
						// {kaishi:'开始时间',kai_shi:'April 25, 2019 (10:00PM )'},
						// {jieshu:'结束时间',jie_shu:'April 25, 2019 (10:00PM )'},
						{
							jiaoyi: '交易货币',
							jiao_yi: 'April 25, 2019 (10:00PM )'
						},
						// {shoufang:'售房数量',shou_fang:'April 25, 2019 (10:00PM )'}

					]
				}
			}
		})
		Vue.component('huilv4', {
			template: "#huilv4",
			// props: ['x_content', 'x_title'],
			data() {
				return {
					// content: this.x_content,
					// title: this.x_title
					hui_lv: [
						// {kaishi:'开始时间',kai_shi:'April 25, 2019 (10:00PM )'},
						// {jieshu:'结束时间',jie_shu:'April 25, 2019 (10:00PM )'},
						// {jiaoyi:'交易货币',jiao_yi:'April 25, 2019 (10:00PM )'},
						{
							shoufang: '售房数量',
							shou_fang: 'April 25, 2019 (10:00PM )'
						}

					]
				}
			}
		})







		new Vue({
			el: '#box',
			data: {

			}
		})
	</script>
	<script>
		window.onload = function() {

			//定时器每秒调用一次fnDate()
			setInterval(function() {
				fnDate();
			}, 1000);
		}

		//js 获取当前时间
		function fnDate() {
			var oDiv = document.getElementById("time");
			var date = new Date();
			var year = date.getFullYear(); //当前年份
			var month = date.getMonth(); //当前月份
			var data = date.getDate(); //天
			var hours = date.getHours(); //小时
			var minute = date.getMinutes(); //分
			var second = date.getSeconds(); //秒
			var time = year + "-" + fnW((month + 1)) + "-" + fnW(data) + " " + fnW(hours) + ":" + fnW(minute) + ":" + fnW(second);
			oDiv.innerHTML = time;
		}
		//补位 当某个字段不是两位数时补0
		function fnW(str) {
			var num;
			str > 10 ? num = str : num = "0" + str;
			return num;
		}
	</script>

</html>
